html {
 line-height: 1.2em;
 font-family: tahoma;
 font-size: 15px;
 text-align: center;
 align-content: center;
 background: lightblue;
}

h1 {
  font-size: 40px;
  padding: 20px;
}

h2{
  font-size: 20px;
  padding: 10px; 
}

label {
  display: block;
  background-color: lightblue;
  text-align: center;
}

.submit-button {
  background-color: #0074D9;
  width: 100px;
  height: 30px;
  display: inline-block;
  border-radius: 20px;
}


@media screen and (max-width: 800px) {
  label {
    display: inline-block;
    color: black;
    margin-right: 5px;
    font-size: 1.3em;
    background-color: transparent;
    padding: 20px;
  }

  h1 {
    font-size: 3.4em;
    padding-top: 30%; 
  }
  
  body {
    padding-top: 10px;
    height: 225px;
    background-color: lightpink;
  }

  html {
    background: lightblue;
    align-self: center;
    align-content: center;
  }

  div {
    display: inline;
  }

  .submit-button {
    background-color: #0074D9;
    width: 100px;
    height: 30px;
    display: inline-block;
    border-radius: 25px;

  }
