html {
   line-height: 1.2em;
   font-family: tahoma;
   font-size: 15px;
}



label {
  display: block;
  background-color: #66ccff;
  text-align: center;
}

@media screen and (max-width: 600px) {
  label {
    display: inline-block;
    color: white;
    margin-right: 5px;
    font-size: 1.3em;
  }
  
  body {
    background-color: lightpink;
  }

  html {
    background: lightblue;
    align-self: center;
  }

  div {
    display: inline;
    
  }
}